<mat-sidenav-container autosize="true">
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : 'contracted'" 
    [mode]="'side'" 
    [opened]="true">
      <mat-nav-list>
        <a mat-list-item (click)="toggleMenu()">
          <div class="logo">
            <mat-icon>menu</mat-icon>
            @if (!isCollapsed) {
              <span style="font-weight: bold;">Visit<span style="color: #DC143c">Ex</span></span>
            }
          </div>
        </a>
        <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.routerLink" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <div class="entry">
            <mat-icon>{{item.icon}}</mat-icon>
            <span *ngIf="!isCollapsed">{{item.label}}</span>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
