.header {
  height: 50px;
  background: #896CC7;
  color: white;
}

hr {
  border: 1px solid #896CC7;
}
.mat-mdc-radio-button.mat-accent{
  --mdc-radio-selected-icon-color: #896CC7 !important;
  --mdc-radio-selected-focus-icon-color: #896CC7 !important;
     --mdc-radio-selected-hover-icon-color: #896CC7 !important; 
     --mdc-radio-selected-icon-color: #896CC7 !important; 
     --mdc-radio-selected-pressed-icon-color: #896CC7 !important;    
    --mat-radio-checked-ripple-color: #896CC7 !important;
}
// html .mat-accent {
//   --mdc-circular-progress-active-indicator-color: #0c0c0c !important;
// }
// .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle, .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
//   border-color: #0c0c0c;
// }
// ::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle, .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
//   border-color: #0c0c0c ;
// }
// .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle, .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
//   border-color: #0c0c0c;
// }
.roleContainer {
  margin-top: 20px;
  margin-bottom: 50px;
}
.error{
  margin-left: -15px;
}
.contactContainer {
  margin-top: 30px;
  margin-bottom: 50px;
}

.accountContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.body {
  padding: 20px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
}

h4 {
  font-size: large;
  font-weight: bolder;
  color: #896CC7;
  margin: 0px 0px 7px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.col {
  display: flex;
  align-items: center;
}

.label-col {
  flex: 0 0 150px; /* Adjust the width as needed */
}

.input-col {
  flex: 1;
}

.buttonRow {
  display: flex;
  
  justify-content: end;
  
 
  
  margin-top: 20px;
}
.warning{
  color:red;
  margin-left: 30px;
}
.column {
  flex: 1;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
}

.inputLabel {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px; /* Space between label and form field */
}

.inputField {
  flex: 1;
}

.mat-form-field {
  width: 100%;
}

.smallInput {
  width: 65%;
  height: 40px;
}
.label-col  ::before {
  content: ":";
  position: absolute;
  color: black;
   /* Position the colon to the right edge of the label column */
  margin-left: 150px; /* Optional: Adjust the space between the label text and the colon */
}
.button1{
  background-color: #896CC7; 
color:white; 
border: 2px solid #896CC7;
padding: 11px 29px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
width: 200px;
border-radius: 5px;
}