<div class="card">
    <p-tabView>
    <p-tabPanel header="Users">
        <app-admin-view-user></app-admin-view-user>
    </p-tabPanel>
    <p-tabPanel header="Roles">
        <app-admin-view-role></app-admin-view-role>
    </p-tabPanel>
    <p-tabPanel header="Locations">
        <app-location-management></app-location-management>
    </p-tabPanel>
    <p-tabPanel header="Visit Purposes">
        <app-admin-visit-purpose-table></app-admin-visit-purpose-table>
    </p-tabPanel>
    <p-tabPanel header="Devices Carried">
        <app-device-management></app-device-management>
    </p-tabPanel>
    </p-tabView>
</div>     

