<div class="dashboard-component-h3">Location Based Visitor Statistics (Monthly)</div>

<div class="d-flex" style="width: 98%; height:20rem; overflow-y: scroll;    scrollbar-width: none;">
    <div class="chart-container">
        <!-- <div class="scale-container">
                    <div class="scale"> -->
          <!-- We'll populate this dynamically -->
        <!-- </div>
        </div> -->

        <div class="card d-flex">
        <p-chart type="bar" [data]="data" [options]="options" />
        </div>
    </div>

</div>