

.body{
    
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            height: calc(100vh - 50px); /* Full viewport height for vertical centering */
            text-align: center;
}

.gif{
    width: 50%;            
    height: 500px;
    border: none;  
    margin-top:-50px;  
    margin-right:-90px;
}